.wrapper {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-x-1/2;
}

.loader {
    @apply w-24 h-24 rounded-full border-2 border-dashed border-blue-700;

    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.4);
    }
}
